<footer>
  
    <!-- FOOTER START -->
    <div class="footer">
      <div class="contain">
      <div class="col">
        <h1>Trainer Name</h1>
        <ul>
          <li>Varnan Alias Vellaivarnanan sir</li>
          
        </ul>
      </div>
      <div class="col">
        <h1>Team Meambers</h1>
        <ul>
          <li>Miss.Bhosale Sanika Dattatray</li>
          <li>Miss.Borate Swaranjali Shankar</li>
          <li>Miss.Kambire Komal Vijay</li>
          <li>Miss.Shedage Sakshi Santosh</li>
          
        </ul>
      </div>
      <div class="col">
        <h1>About Us</h1>
        <ul>
    
          <li> Airline Reservation System is website which is helpful for ticketing manager as well as the customers.
            In the later system all the activities were done manually. 
          Our Airline Reservation System deals with the various activities related to the Flights.</li>
        </ul>
        
      </div>
      <div class="col">
        <h1>Location</h1>
        <ul>
          <li>Vidyanagar,near SGM College,Karad</li>
          <li>pincode-415101</li>
          
          <li>+91 9977886655</li>
        </ul>
      </div>
      <div class="col">
        <h1>Visit LinkedIn profile</h1>
        <a href="https://www.linkedin.com/in/sanika-bhosale-5032aa2b7/" target="_blank">Sanika Bhosale</a><br>
        <a href="https://www.linkedin.com/in/swaranjali-borate-5b9b012a7/" target="_blank">Swaranjali Borate</a><br>
      <a href="https://www.linkedin.com/in/komal-kambire-4582942a7/" target="_blank">Komal Kambire</a><br>
      <a href="https://www.linkedin.com/in/sakshi-shedage-a162932a7/" target="_blank">Sakshi Shedage</a><br>
      
      </div>
      <div class="col social">
        <h1>Visit Github profile</h1>
        <a href="https://github.com/sanikabhosale03" target="_blank">Sanika Bhosale</a><br>
          <a href="https://github.com/swaranjali1802" target="_blank">Swaranjali Borate</a><br>
          <a href="https://github.com/komalkambire" target="_blank">Komal Kambire</a><br>
          <a href="https://github.com/sakshi31504" target="_blank">Sakshi Shedage</a><br>
      
      </div>
    <div class="clearfix"></div>
    </div>
    </div>
    <!-- END OF FOOTER -->
    </footer>
    