
<!-- slider section -->

<section class="slider_section">
    <div class="slider_container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>Imagination Takes Flight With Us...</h1>
   

                    <h2>Get your ticket to ride online!</h2>
                   
                  </div>
                </div>
                <div class="col-md-5 ">
                  <br>
                  <br><br>
                  <br>
                  <div class="img-box">
                    <img src="assets/flight.jpg" alt="Flight"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          </div>
         </div>
        </div>
      
   
  </section>

  <!-- end slider section -->